.title {
  font-family: Indie Flower;
  font-weight: 100;
  font-size: 2em;
  padding: .5em 2em 0 2em;
  border-bottom: solid .1em;
}

.echarts {
  background-color: aliceblue;
  border-left: solid 1em #DFE2DB;
  border-right: solid 1em #DFE2DB;
  height: 350px;
  opacity: 0.9;
}